<div class="leftSide">
  <app-show-doctors></app-show-doctors>
</div>

<div class="rightSide">
  <div class="topSide">
    <h2 class="showDate">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="Month" (click)="setView(CalendarView.Month)"
                           [class.active]="view === CalendarView.Month">Month
        </mat-button-toggle>
        <mat-button-toggle value="Week" (click)="setView(CalendarView.Week)"
                           [class.active]="view === CalendarView.Week">Week
        </mat-button-toggle>
        <mat-button-toggle value="Day" (click)="setView(CalendarView.Day)"
                           [class.active]="view === CalendarView.Day">Day
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="calenderFormat">
        <mat-button-toggle value="Previous" mwlCalendarPreviousView [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">Previous
        </mat-button-toggle>
        <mat-button-toggle value="Today" mwlCalendarToday [(viewDate)]="viewDate">Today</mat-button-toggle>
        <mat-button-toggle value="Next" mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()">Next
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="addNew">
        <mat-button-toggle value="Month" (click)="openAddDialog()">
          New appointment
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="bottomSide">
    <div class="calenderContainer">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>
