* {
  padding: 0;
  margin: 0;
}

.leftSide, .rightSide {
  float: left;
}

.leftSide {
  position: relative;
  width: 18%;
  padding-left: 1%;
  padding-right: 1%;
  height: 100%;
}

.rightSide {
  position: relative;
  width: 79.8%;
  height: 100%;
}

.rightSide .topSide, .rightSide .bottomSide {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.rightSide .topSide {
  width: 100%;
  margin-bottom: 5px;
}

.rightSide .bottomSide {
  width: 100%;
}

.rightSide .topSide div {
  position: relative;
  float: left;
  width: 33.3%;
}

.calenderFormat {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.addNew {
  position: relative;
  left: 100%;
  bottom: 0;
  transform: translateX(-100%);
}

.showDoctor {
  font-weight: lighter;
  margin-bottom: 10px;
}

.showDate {
  position: relative;
  height: 150px;
  background-size: contain;
  background: url('/assets/orginal winter.jpg') no-repeat fixed;
  filter: brightness(0.7);
  margin-bottom: 10px;
  transition: all .4s ease-in-out;
}

.showDate:hover {
  filter: brightness(0.83);
}

.showDateDate {
  font-weight: lighter;
  font-size: 2em;
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
