<ngx-spinner>
  <p style="color: white">Saving update...</p>
</ngx-spinner>

<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="primaryInfo">
    <form [formGroup]="primaryInfo">
      <ng-template matStepLabel>Primary info</ng-template>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required
                 autocomplete="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <mat-form-field appearance="outline">
        <mat-label>Display Order</mat-label>
        <input matInput formControlName="displayOrder" type="number"
               required>
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Approved">Approved</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-flat-button color="primary" (click)="submit()"
              [disabled]="primaryInfo.invalid">Update
      </button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
