.patientsList {
  width: 95%;
  margin: auto;
}

.addNewArea {
  position: relative;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.addNewArea mat-form-field {
  padding-top: 1.34375em;
  position: relative;
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #eee;
  cursor: pointer;
}



