<h1 *ngIf="data.id else newAppointment" mat-dialog-title align="center" style="color:#00695C">
  Manage Appointment
</h1>

<ng-template #newAppointment>
  <h1 mat-dialog-title align="center" style="color:#00695C">New Appointment</h1>
</ng-template>

<p class="errorMessage" *ngIf="error">{{ error | uppercase }}</p>

<hr>

<form [formGroup]="addForm">

  <mat-dialog-content class="mat-typography">


    <mat-form-field appearance="outline">
      <mat-label>Patient Id</mat-label>
      <input matInput placeholder="Patient Id" id="PatientId" type="number" formControlName="PatientId"
             [errorStateMatcher]="matcher">

      <mat-error *ngIf="PatientId.hasError('required')">
        Patient id is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <div style="margin-bottom: 19px" *ngIf="!data.patientId">
      <mat-chip-list>
        <mat-chip (click)="openQuickAddDialog()">Quick add</mat-chip>
        <mat-chip (click)="openForgetIdDialog()">Forget id</mat-chip>
      </mat-chip-list>
    </div>


    <mat-form-field appearance="outline">
      <mat-label>Appointment Type</mat-label>

      <mat-select formControlName="AppointmentType" [errorStateMatcher]="matcher" [value]="data.appointmentTypeId">
        <mat-option *ngFor="let types of appointmentType" [value]="types.id">
          {{types.type | uppercase}}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="AppointmentType.hasError('required')">
        Appointment Type is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Appointment Status</mat-label>

      <mat-select formControlName="AppointmentStatus" [errorStateMatcher]="matcher" [value]="data.appointmentStatusId">
        <mat-option *ngFor="let status of appointmentStatus" [value]="status.id">
          {{status.status | uppercase}}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="AppointmentType.hasError('required')">
        Appointment Status <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start date</mat-label>
      <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="start" placeholder="Date Time">
      <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-select formControlName="duration" required>
        <mat-option *ngFor="let duration of durationList" [value]="duration.duration">{{ duration.duration }} minutes
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="!data.servedBy">
      <mat-form-field appearance="outline">
        <mat-label>Served By</mat-label>
        <input matInput placeholder="Served By" type="number" formControlName="ServedBy">
      </mat-form-field>
    </div>

    <div *ngIf="data.id">
      <mat-checkbox formControlName="IsServed">Is served</mat-checkbox>
    </div>


  </mat-dialog-content>


  <div *ngIf="data.id else showSaveButton">
    <mat-dialog-actions align="end">
      <button mat-button color="warn" (click)="deleteClicked()" [disabled]="!addForm.valid">
        Delete
      </button>
      <button mat-flat-button color="primary" type="submit" [disabled]="!addForm.valid" (click)="updateClicked()">
        Update
      </button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
  <ng-template #showSaveButton>
    <mat-dialog-actions align="end">
      <button mat-flat-button color="primary" type="submit" [disabled]="!addForm.valid" (click)="saveClicked()">Save
      </button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </ng-template>

</form>
