<div class="showDate" #shoeDate>
  <h2 class="showDateContent">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
  <mat-form-field appearance="outline" style="color: #fff;border-color: #fff !important;">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. doctor name" [(ngModel)]="doctorName">
  </mat-form-field>
  <button mat-mini-fab aria-label="Example icon-button with a heart icon" class="updown" (click)="resizeShowDate()"
          [style.transform]="isFabHidden ? 'scale(0)': ''" color="accent" matTooltip="Hide this box">
    <mat-icon>arrow_drop_up</mat-icon>
  </button>
</div>

<div class="doctorsList">
  <app-show-doctors [doctorName]="doctorName" (doctorSelected)="updateWithDoctor($event)"></app-show-doctors>
</div>

<div class="calenderArea">
  <div class="topSide">
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="Month" (click)="setView(CalendarView.Month)"
                           [class.active]="view === CalendarView.Month" matTooltip="Monthly view">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="navigate_next">view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Week" (click)="setView(CalendarView.Week)"
                           [class.active]="view === CalendarView.Week" matTooltip="Weekly view">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="navigate_next">view_week</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Day" (click)="setView(CalendarView.Day)"
                           [class.active]="view === CalendarView.Day" matTooltip="Daily view">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="navigate_next">view_day</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="calenderFormat">
        <mat-button-toggle value="Previous" mwlCalendarPreviousView [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()" matTooltip="Previous">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="navigate_before">navigate_before
          </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Today" mwlCalendarToday [(viewDate)]="viewDate" matTooltip="Today">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="arrow_drop_down">today
          </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Next" mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="closeOpenMonthViewDay()" matTooltip="Next">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="navigate_next">navigate_next</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="addNew">
        <mat-button-toggle value="Month" (click)="openAddDialog()" matTooltip="New appointment">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="navigate_next">add</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="bottomSide">
    <div class="calenderContainer">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          (dayHeaderClicked)="openAddDialog($event.day.date)"
          (hourSegmentClicked)="openAddDialog($event.date)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          (hourSegmentClicked)="openAddDialog($event.date)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>
