<h1 mat-dialog-title>Add new patient</h1>
<form action="" [formGroup]="quickAddForm" (submit)="quickAddForm.valid ? quickAdd() : ''">

  <div mat-dialog-content>
    <ngx-spinner [fullScreen]="false">
      <p style="color: white"> Saving new patient </p>
    </ngx-spinner>
    <div class="queryArea">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput placeholder="First name" formControlName="firstName" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput placeholder="Phone number" formControlName="phoneNumber" required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="submit" style="width: 100%">Quick add
    </button>
  </div>


</form>
