<div class="addNewArea">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Example: patient's name">
  </mat-form-field>
</div>


<div class="patientsList">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z6">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id | number}} </td>
    </ng-container>


    <ng-container matColumnDef="regDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>REG DATE</th>
      <td mat-cell *matCellDef="let element"> {{element.regDate | date}} </td>
    </ng-container>


    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>ACTIVE</th>
      <td mat-cell *matCellDef="let element"> {{element.active | toBoolean }} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
      <td mat-cell
          *matCellDef="let element"> {{ element.firstName + ' ' + element.middleName + ' ' + element.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>GENDER</th>
      <td mat-cell *matCellDef="let element"> {{element.gender | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE OF BIRTH</th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date}} </td>
    </ng-container>

    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef>NATIONALITY</th>
      <td mat-cell *matCellDef="let element"> {{element.nationality | uppercase }} </td>
    </ng-container>

    <ng-container matColumnDef="contactInfo">
      <th mat-header-cell *matHeaderCellDef>CONTACT INFO</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="openPatientDetailDialog('C',element)">View</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="openPatientDetailDialog('A',element)">View</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="emergencyInfo">
      <th mat-header-cell *matHeaderCellDef>EMERGENCY INFO</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="openPatientDetailDialog('E',element)">View</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Manage</th>
      <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="menu">
        <button mat-icon-button aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToEditPatient(element.id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="confirmAction(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row">
    </tr>


  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" length="100%" showFirstLastButtons></mat-paginator>

</div>

<div class="addNewPatient">
  <button mat-fab aria-label="Example icon-button with a heart icon" color="primary" matTooltip="Add new Patient"
          routerLink="/admin/addPatient">
    <mat-icon>add</mat-icon>
  </button>
</div>
