<div class="container">
  <div class="card">
    <p class="status">Approved</p>
    <p class="person">Doctor</p>
    <p class="count">40</p>
  </div>

  <div class="card">
    <p class="status">Pending</p>
    <p class="person">Doctor</p>
    <p class="count">5</p>
  </div>

  <div class="card">
    <p class="status">Approved</p>
    <p class="person">Reception</p>
    <p class="count">129</p>
  </div>

  <div class="card">
    <p class="status">Pending</p>
    <p class="person">Reception</p>
    <p class="count">2</p>
  </div>

  <div class="card">
    <p class="status">Approved</p>
    <p class="person">Patients</p>
    <p class="count">602</p>
  </div>

</div>
