<h1 mat-dialog-title style="color: #00695C" align="center">Search to find patients</h1>
<hr>
<div mat-dialog-content>
  <div class="queryArea">
    <form action="" [formGroup]="forgetForm">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Phone number" formControlName="phoneNumber" required>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="searchResultCount <= 1 else multipleResult">
    Found {{ searchResultCount }} search result.
  </div>
  <ng-template #multipleResult>
    <p *ngIf="searchResultCount" style="color: #00695C">Found {{ searchResultCount }} results.</p>
  </ng-template>

  <mat-action-list>
    <button mat-list-item *ngFor="let p of patientSearchResult" (click)="sendAndClose(p)">
      {{ (p.firstName + ' ' + p.middleName + ' ' + p.lastName) | uppercase }}
    </button>
  </mat-action-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="forgetForm.valid ? search(): ''" style="width: 100%">Search</button>
</div>
