mat-toolbar {
  position: fixed;
  z-index: 4;
  color: white;
  height: 40px;
}

.active {
  background: #e6eee9;
}

.iconNavigation, .routerOutLetContainer {
  float: left;
}

.iconNavigation {
  position: fixed;
  width: 5%;
  top: 56px;
  z-index: 1;
  height: 100vh;
  box-shadow: -1px -1px 5px 0 rgb(133, 124, 133);
}

.routerOutLetContainer {
  position: absolute;
  left: 5%;
  width: 95%;
  top: 56px;
  min-height: 90vh;
}

mat-icon {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
