<mat-toolbar class="mat-elevation-z1">
  <mat-toolbar-row>
    <h1 routerLink="/" matTooltip="Home" style="outline: none;padding: 2px 5px 2px 5px;border-radius: 20px"
        matRipple>{{ 'Orbit booking system' | uppercase }}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="iconNavigation">
  <mat-icon matRipple matTooltip="Doctors" matTooltipPosition="right" routerLink="doctors" routerLinkActive="active">
    local_hospital
  </mat-icon>
  <mat-icon matRipple matTooltip="Patients" matTooltipPosition="right" routerLink="patients" routerLinkActive="active">
    hotel
  </mat-icon>
  <mat-icon matRipple matTooltip="Settings" matTooltipPosition="right" routerLink="setting" routerLinkActive="active">
    settings
  </mat-icon>
</div>

<div class="routerOutLetContainer">
  <router-outlet></router-outlet>
</div>
