<mat-toolbar class="mat-elevation-z1">
  <mat-toolbar-row>
    <h1 routerLink="/" matTooltip="Home" style="outline: none;padding: 2px 5px 2px 5px;border-radius: 20px"
        matRipple>{{ 'Orbit booking system' | uppercase }}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="iconNavigation">
  <div>
    <mat-icon matRipple matTooltip="Doctors" matTooltipPosition="right" routerLink="doctors" routerLinkActive="active"
              svgIcon="doctor">
    </mat-icon>
    <p>Doctors</p>
  </div>
  <div>
    <mat-icon matRipple matTooltip="Patients" matTooltipPosition="right" routerLink="patients" routerLinkActive="active"
              svgIcon="patient">
    </mat-icon>
    <p>Patients</p>
  </div>
  <div>
    <mat-icon matRipple matTooltip="Settings" matTooltipPosition="right" routerLink="setting/appointmentType"
              routerLinkActive="active"
              svgIcon="setting">
    </mat-icon>
    <p>Setting</p>
  </div>


</div>

<div class="routerOutLetContainer">
  <!--  <mat-icon svgIcon="unicorn"></mat-icon>-->
  <router-outlet></router-outlet>
</div>
