<!--<mat-toolbar class="mat-elevation-z1" color="primary">-->
<!--  <mat-toolbar-row>-->
<!--    <h1 routerLink="/" matTooltip="Home" style="outline: none;padding: 2px 5px 2px 5px;border-radius: 20px"-->
<!--        matRipple>{{ 'Orbit booking system' | uppercase }}</h1>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->

<!--<div class="iconNavigation">-->
<!--  <div>-->
<!--    <mat-icon matRipple matTooltip="Doctors" matTooltipPosition="right" routerLink="showdoctors" routerLinkActive="active"-->
<!--              svgIcon="doctor" color="primary">-->
<!--    </mat-icon>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-icon matRipple matTooltip="Patients" matTooltipPosition="right" routerLink="showpatients" routerLinkActive="active"-->
<!--              svgIcon="patient" color="primary">-->
<!--    </mat-icon>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-icon matRipple matTooltip="Settings" matTooltipPosition="right" routerLink="setting/appointmentType"-->
<!--              routerLinkActive="active"-->
<!--              svgIcon="setting" color="primary">-->
<!--    </mat-icon>-->
<!--  </div>-->


<!--</div>-->

<div class="routerOutLetContainer">
  <router-outlet></router-outlet>
</div>
