img {
  margin: 5px;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container > div {
  float: left;
  height: 100vh;
}

.one {
  position: relative;
  width: 40%;
}

.two {
  width: 60%;
  background: url("https://i.pinimg.com/originals/65/dc/a6/65dca69f78972935caf61580e7c17bd9.png");
  background-size: cover;
}

.one .loginBox {
  position: absolute;
  width: 60%;
  left: 50%;
  margin-top: 50px;
  transform: translateX(-50%);
}

.one .loginBox mat-form-field {
  width: 100%;
}

.one .loginBox > p {
  letter-spacing: .08em;
  color: grey;
}

.one .loginBox > h1 {
  color: #00695C;
  margin: 0;
}

.one .role p {
  float: left;
  margin: 0 20px 10px 0;
  font-weight: lighter;
  cursor: pointer;
}

.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #00695C;
}
