<ngx-spinner>
  <p style="color: white">Saving update...</p>
</ngx-spinner>

<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="patientsFormManager.primaryInfoForm">
    <form [formGroup]="patientsFormManager.primaryInfoForm">
      <ng-template matStepLabel>Primary info</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <mat-select formControlName="patientTitleId">
          <mat-option *ngFor="let pt of patientsTitles" [value]="pt.id">{{ pt.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput placeholder="first name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Middle name</mat-label>
          <input matInput placeholder="middleName" formControlName="middleName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="lastName" formControlName="lastName">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="m">Male</mat-option>
          <mat-option value="f">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput placeholder="age" type="number" formControlName="age"
                 (keyup)="patientsFormManager.birthDateFromAge()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="dateOfBirth"
                 placeholder="Date of birth">
          <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
          <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
        </mat-form-field>

      </div>

      <mat-form-field appearance="outline">
        <mat-label>Country of origin</mat-label>
        <input
          matInput
          placeholder="Country of origin"
          formControlName="nationality"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let c of filteredCountry | async" [value]="c.name">
            {{ c.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="patientsFormManager.contactInfoForm">
    <form [formGroup]="patientsFormManager.contactInfoForm">
      <ng-template matStepLabel>Contact info</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="patient email">
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Primary phone number</mat-label>
          <input matInput formControlName="primaryPhoneNumber" placeholder="Primary phone number" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Alternate Phone Number</mat-label>
          <input matInput formControlName="alternatePhoneNumber" placeholder="Alternate PhoneNumber">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="patientsFormManager.addressForm">
    <form [formGroup]="patientsFormManager.addressForm">
      <ng-template matStepLabel>Address info</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Line 1</mat-label>
        <input matInput formControlName="line1" placeholder="line 1">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Line 1</mat-label>
        <input matInput formControlName="line2" placeholder="line 2">
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="city">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input
            matInput
            placeholder="Country"
            formControlName="country"
            [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let c of filteredCountry2 | async" [value]="c.name">
              {{ c.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="patientsFormManager.emergencyInfoForm">
    <form [formGroup]="patientsFormManager.emergencyInfoForm">
      <ng-template matStepLabel>Emergency info</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <mat-select formControlName="title">
          <mat-option *ngFor="let et of emergencyTitle" [value]="et.id">{{ et.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="name">
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Primary phone number</mat-label>
          <input matInput formControlName="primaryPhoneNumber" placeholder="Primary phone number">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Alternate Phone Number</mat-label>
          <input matInput formControlName="alternatePhoneNumber" placeholder="Alternate PhoneNumber">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-flat-button color="primary" (click)="submit()" [disabled]="isAllFormInValid()">Update
      </button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
