.commonHeader {
  width: 100%;
  padding: 40px;
  height: 40px;
  position: relative;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchBox mat-form-field {
  width: 400px;
}

.place {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.place mat-icon {
  position: relative;
  bottom: 0;
}

.place mat-icon, .place h2 {
  display: inline;
  margin: 0;
  font-weight: lighter;
}

.place h2 {
  margin-left: 10px;
}

div.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

mat-form-field {
  margin: 0 !important;
  padding: 0 !important;
}
