<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Appointment Status</mat-card-title>
    <mat-card-subtitle>List of available appointment status click to remove</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-action-list>
      <button mat-list-item *ngFor="let status of dataSource"> {{ status.status | titlecase }} </button>
    </mat-action-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button color="primary" (click)="openDialog()">Add</button>
  </mat-card-actions>
</mat-card>
