<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Emergency title</mat-card-title>
    <mat-card-subtitle>List of available emergency title click to remove</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-action-list>
      <button mat-list-item *ngFor="let title of dataSource"
              (click)="itemClicked(title)"> {{ title.title | titlecase }} </button>
    </mat-action-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button color="primary" (click)="addClicked()">Add</button>
  </mat-card-actions>
</mat-card>
