<mat-toolbar class="mat-elevation-z1">
  <span>
     <a style="font-size: 1.5em; font-weight: normal" routerLink="/" mat-button>Orbit appointment</a>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
      <a routerLink="doctors" mat-button routerLinkActive="active">Doctors list</a>
      <a routerLink="patients" mat-button routerLinkActive="active">Patient list</a>
      <a routerLink="setting" mat-button routerLinkActive="active">Setting</a>

      <a routerLink="addPatient" mat-raised-button color="accent" style="margin-right: 3px">New Patient</a>
      <a routerLink="addDoctor" mat-raised-button color="accent">New Doctor</a>
  </span>

</mat-toolbar>

